/* variables */

:root {
    --head-nav: #e88073;
    --all-fonts: #e85a50;
    --header-border: #eae8dc;
    --button-div: #c9c8c3;
    --button: #8e8d89;
    --buy-button: rgb(78, 248, 11);
    --body: #fff;
    --nav-itemBox: #f3e1c7;
    --side-bar: #5f5f5f;
    --total-bill: #eae8dcc7;
    --shadow: #ccc;
    --input-color: black;
}

/* variables */

/* width */

::-webkit-scrollbar {
    width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
    background: var(--header-border);
    border-radius: 10px;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: var(--button);
    border-radius: 10px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: var(--side-bar);
}

.black {
    height: 760px;
    top: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.856);
    position: sticky;
    z-index: 4;
}

.mess {
    background: #d8c3a4;
    height: 40%;
    width: 40%;
    font-family: 'Pacifico', cursive;
    justify-content: start;
    color: var(--all-fonts);
    text-shadow: 1px 1px 3px black;
    font-size: 100px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px black;
    flex-direction: column;
    border: 10px double black;
    margin-top: 180px;
    margin-left: 360px;
    /* padding-top: 10px; */
}

.mess .opps {
    margin-bottom: 45px;
    margin-left: 17px;
    margin-top: -44px;
}

.mess img {
    height: 100px;
    margin-top: 50px;
    margin-left: 20px;
}

.mess .sorry {
    font-size: 30px;
    color: #41403e;
    align-self: center;
    text-shadow: none;
    margin-left: 40px;
}

.sorry button {
    background-color: #fee133;
    border: 2px double #eb8f00;
    color: black;
    font-family: 'Pacifico', cursive;
    border-radius: 5px 20px;
    height: 50px;
    width: 100px;
    font-size: 20px;
    cursor: pointer;
    margin-left: 30px;
    box-shadow: 2px 2px 5px var(--shadow);
    outline: none;
}

.sorry button:hover {
    box-shadow: 2px 2px 5px rgb(121, 121, 121);
}

.mess2 {
    font-size: 50px;
    justify-content: center;
    background: #d8c3a4;
    height: 40%;
    width: 40%;
    font-family: 'Pacifico', cursive;
    justify-content: start;
    color: var(--all-fonts);
    text-shadow: 1px 1px 3px black;
    /* font-size: 100px; */
    border-radius: 20px;
    box-shadow: 2px 2px 5px black;
    flex-direction: column;
    border: 10px double black;
    margin-top: 180px;
    margin-left: 360px;
}

.black2 {
    height: 760px;
    width: 100%;
    background: rgba(0, 0, 0, 0.904);
    position: sticky;
    top: 0;
    z-index: 4;
}

.mess2 img {
    height: 100px;
    margin-top: 50px;
    margin-left: 20px;
}

.mess2 .thanks {
    margin-bottom: 20px;
    margin-left: 17px;
    display: flex;
    flex-direction: row;
    /* margin-top: -44px; */
}

#emoji {
    margin-right: 29px;
}

.mess2 .come {
    font-size: 30px;
    color: #41403e;
    text-shadow: none;
    margin-left: 40px;
    margin-bottom: 25px;
}

.come button {
    background-color: #fee133;
    border: 2px double #eb8f00;
    color: black;
    font-family: 'Pacifico', cursive;
    border-radius: 5px 20px;
    padding: 5px 20px;
    font-size: 20px;
    cursor: pointer;
    margin-left: 80px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 5px black;
    outline: none;
}

.come button:hover {
    box-shadow: 2px 2px 5px rgb(121, 121, 121);
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    background: var(--body)
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header-border);
}

header img {
    height: 90px;
    margin: 10px;
    margin-left: 20px;
}

header h1 {
    color: var(--head-nav);
    text-shadow: 2px 2px 3px black;
    margin: 10px;
    font-size: 50px;
    font-family: 'Pacifico', cursive;
}

#header {
    height: 50px;
    padding: 0 50px;
    background: var(--nav-itemBox);
    width: 100%;
    grid-column: 1/4;
    box-sizing: border-box;
}

#header .logo {
    display: inline-block;
}

.logo h2 {
    flex-grow: 1;
    margin: 1px 20px;
    font-family: 'Pacifico', cursive;
    color: var(--all-fonts);
    text-shadow: 2px 2px 3px black;
    text-transform: uppercase;
}

#header nav {
    float: right;
}

#header nav ul {
    margin-top: 8px;
    padding: 0;
    display: flex;
}

#header nav ul li {
    list-style: none;
    margin: 0 20px;
    transition: 0.5s;
}

#header nav ul li a {
    display: block;
    position: relative;
    text-decoration: none;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 3px black;
    font-family: 'Ubuntu', sans-serif;
    color: var(--head-nav);
    text-transform: uppercase;
    transition: 0.5s;
}

#header nav ul:hover li a {
    transform: scale(1.5);
    opacity: .2;
    filter: blur(3px);
}

#header nav ul li a:hover {
    transform: scale(1.5);
    opacity: 1;
    color: var(--head-nav);
    filter: blur(0);
}

#header nav ul li a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--header-border);
    transition: transform 0.5s;
    transform-origin: right;
    transform: scaleX(0);
    z-index: -1;
}

#header nav ul li a:hover:before {
    transition: transform 0.5s;
    transform-origin: left;
    transform: scaleX(1);
}

#header nav ul li a:focus {
    background: #f28d40;
    color: white;
}

.menu-toggle {
    color: #000;
    float: right;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: none;
    z-index: 100;
}

main {
    margin: 20px;
    display: flex;
    background-color: var(--header-border);
}

aside {
    width: 20%;
}

aside div:nth-child(1) {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--shadow);
    height: 60px;
    font-size: 20px;
    font-weight: bold;
    padding: 5px 5px;
    color: var(--all-fonts);
    text-shadow: 1px 1px 3px var(--shadow);
}

/* check */

.dark {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--shadow);
    flex-grow: 1;
    align-items: center;
    padding: 0 10px;
    height: 40px;
    color: var(--side-bar);
    font-size: 18px;
}

label {
    position: relative;
    margin-right: 20px;
}

label input[type="checkbox"] {
    opacity: 0;
    display: none;
}

.check {
    display: block;
    width: 40px;
    height: 20px;
    border: 1px solid var(--all-fonts);
    border-radius: 40px;
    transition: 0.5s;
    margin-right: 2px;
}

label input[type="checkbox"]:checked~.check {
    border: 1px solid #FB8122;
}

.check:before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border: 2px solid #000;
    box-sizing: border-box;
    border-radius: 50%;
    box-shadow: inset 0 0 0 1px var(--all-fonts);
    transition: 0.5s;
}

label input[type="checkbox"]:checked~.check:before {
    box-shadow: inset 0 0 0 1px #FB8122;
    background: transparent;
    transform: translateX(20px);
}

.text {
    display: block;
    position: absolute;
    top: 0;
    right: -40px;
    width: 40px;
    font-size: 20px;
    transition: 0.5s;
    font-weight: bold;
    color: var(--all-fonts);
}

.text.on {
    transform: translateY(20px);
    opacity: 0;
}

label input[type="checkbox"]:checked~.text.on {
    transform: translateY(0);
    opacity: 1;
    color: #FB8122;
}

label input[type="checkbox"]:checked~.text.off {
    transform: translateY(-20px);
    opacity: 0;
}

/* check */

aside div:nth-child(2) {
    justify-content: space-between;
    display: flex;
    border-bottom: 1px solid var(--shadow);
    flex-grow: 1;
    align-items: center;
    padding: 0 10px;
    height: 50px;
    color: var(--side-bar);
    font-size: 18px;
    font-weight: bold;
}

aside div:nth-child(2) input {
    width: 50px;
    height: 30px;
    color: var(--input-color);
    background: var(--body);
    border: transparent;
    border-radius: 50px;
    text-align: center;
    font-size: 18px;
}

aside div:last-child {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--shadow);
    flex-grow: 1;
    align-items: center;
    padding: 0 10px;
    height: 40px;
    color: var(--side-bar);
    font-size: 15px;
}

aside div:last-child i:hover {
    color: black;
    cursor: pointer;
}

aside .menu {
    display: flex;
    border-bottom: 1px solid var(--shadow);
    flex-grow: 1;
    align-items: center;
    padding: 0 10px;
    height: 40px;
    color: var(--side-bar);
    font-size: 15px;
}

aside .menu:hover {
    background: var(--head-nav);
    cursor: pointer;
    transition: 0.3s;
    color: var(--body);
}

section {
    display: flex;
    flex-direction: column;
    width: 85%;
}

#bill-head {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    height: 60px;
    padding: 5px 5px;
    color: var(--all-fonts);
    text-shadow: 1px 1px 3px var(--shadow);
    font-size: 30px;
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: var(--total-bill);
    width: 99%;
}

#bill-head span {
    background: var(--body);
    color: var(--input-color);
    text-align: center;
    border-radius: 50px;
    text-shadow: none;
    width: 60px;
}

#bill {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#shop {
    display: flex;
}

#shop-btn {
    background: #FB8122;
    color: white;
    /* color: var(--all-fonts); */
    border-radius: 20PX;
    font-size: 20PX;
    font-weight: bold;
    text-shadow: 1px 1px 3px var(--shadow);
    border: none;
    padding: 15px 40px;
    cursor: pointer;
    outline: none;
}

#shop-btn:hover {
    background: var(--buy-button);
    transition: 0.3s;
    color: #f85b50;
}

#all {
    background-color: var(--body);
    margin: 5px;
    display: grid;
    padding: 50px;
    grid-template-rows: 50px 300px 300px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
}

#all .items {
    background-color: var(--nav-itemBox);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item-name {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--all-fonts);
    font-size: 20px;
    font-weight: 900;
    text-shadow: 2px 2px 3px var(--shadow);
}

.item-pic {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: var(--body);
    margin: 0 10px;
    height: 150px;
}

.item-pic img {
    height: 100px;
    position: absolute;
}

.item-pic .two, .four, .six, .eight, .ten, .ninenine {
    opacity: 0.7;
}

.item-pic .three, .five, .seven, .nine, .tenten, .sixsix {
    opacity: 0.4;
}

.item-price {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--all-fonts);
    font-size: 20px;
    font-weight: 900;
    text-shadow: 2px 2px 3px var(--shadow);
}

.item-qty {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--button-div);
    height: 50px;
}

.item-qty .min-btn {
    height: 40px;
    width: 40px;
    color: var(--body);
    font-size: 30px;
    display: flex;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    background: var(--button);
    border: transparent;
    border-radius: 50px 0 0 50px;
    outline: none;
}

.item-qty .plus-btn {
    height: 40px;
    width: 40px;
    font-weight: bold;
    color: var(--body);
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--button);
    border: transparent;
    border-radius: 0px 50px 50px 0px;
    outline: none;
}

.plus-btn:hover, .min-btn:hover {
    background-color: var(--head-nav);
    cursor: pointer;
}

.item-qty .total-btn {
    height: 40px;
    width: 80px;
    color: var(--input-color);
    background-color: var(--body);
    border: transparent;
    font-size: 20px;
}

@media (max-width:1288px) {
    .menu-toggle {
        display: block;
        margin-top: 1px;
        color: var(--input-color);
    }
    #header nav {
        position: absolute;
        width: 100%;
        height: calc(100vh - 50px);
        background-color: var(--body);
        top: 305px;
        left: -100%;
        transition: 0.5s;
        z-index: 4;
    }
    #header nav.active {
        left: 0;
        width: 958px;
        margin-left: 263px;
    }
    #header nav ul {
        display: block;
        text-align: center;
    }
    #header nav ul li a {
        border-bottom: 1px solid rgba(0, 0, 0, .2);
    }
}

@media (max-width: 991px) {
    #header {
        padding: 0 20px;
        grid-column: 1/3;
    }
    #logo {
        height: 60px;
    }
    .menu-toggle {
        display: block;
        margin-top: 1px;
        color: var(--input-color);
    }
    #header nav {
        position: absolute;
        width: 100%;
        height: calc(100vh - 50px);
        background-color: var(--body);
        top: 305px;
        left: -100%;
        transition: 0.5s;
        z-index: 4;
    }
    #header nav.active {
        left: 0;
        width: 746px;
        margin-left: 175px;
    }
    #header nav ul {
        display: block;
        text-align: center;
    }
    #header nav ul li a {
        border-bottom: 1px solid rgba(0, 0, 0, .2);
    }
    #all {
        grid-template-columns: 300px 300px;
        grid-template-rows: 50px 1fr 1fr 1fr;
    }
    #bill-head {
        width: 95%;
    }
    .mess, .mess2 {
        width: 532px;
        margin-left: 150px;
    }
    .mess .sorry {
        margin-left: 0px;
    }
    .mess img {
        margin-left: 63px;
    }
}

@media (max-width: 917px) {
    #header {
        grid-column: 1/2;
    }
    #all {
        grid-template-columns: 300px;
        grid-template-rows: 50px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        justify-content: center;
    }
    #bill-head {
        width: 98%;
    }
}